{% block content %}
<style>
    .schedgrid th {
        text-align: left;
	padding: 2px;
    }
    .schedgrid tr.days {
        font-size: small;
    }
    .schedgrid td {
	text-align: center;
    }
    .schedgrid th.username {
        padding-right: 1em;
    }
    .schedgrid th.late, .schedgrid td.late {
        background: #ff6666;
    }
    .schedgrid .task {
        display: block;
	float: left;
	line-height: 85%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
    }
    .schedgrid .task a {
        text-decoration: none;
	color: black;
    }
    .schedgrid .task.late a {
        background: red;
    }
    .schedgrid .task.done a {
        text-decoration: line-through;
	color: #888888;
    }
    .schedgrid td:hover {
        background: #ffffaa;
    }
    .schedgrid td:hover .task a:hover {
        background: #bbbb00;
    }
    .ui-accordion a .subtitle {
        color: #aaaaaa;
	font-weight: medium;
	font-size: 50%;
	padding-left: 2em;
    }
    .ui-accordion a .subtitle b{
        color: #666666;
    }
</style>

<div>
  <div id='accordion'>
    {% for project in projects %}
    <h3><a href="#"><table><tr><td>{{escape(project.title)}}</td>
    <td class='subtitle'>
    Committed: <b>{{project.task.commitdate}}</b><br>
    Predicted: <b>{{project.task.duedate}}</b></td></tr></table>
    </a></h3>
    <div>
        <table class="schedgrid" cellpadding=0 cellspacing=0>
	    <tr>
	        <th></th>
		{% for (year,span) in project.years() %}
	        <th colspan={{span}}>{{year}}</th>
		{% end %}
	    </tr>
	    <tr>
	        <th></th>
		{% for (month,span) in project.months() %}
	        <th colspan={{span}}>{{month}}</th>
		{% end %}
	    </tr>
	    <tr class="days">
	        <th></th>
		{% for (day,lateness) in project.days_and_lateness() %}
	        <th class="{{lateness}}">{{day}}</th>
		{% end %}
	    </tr>
	    {% for u in project.users %}
	    <tr>
	        <th class="username">{{escape(u.name)}}</th>
	        {% for (d,lateness) in project.unique_dates_and_lateness() %}
		<td class="{{lateness}}">
		    {% for t in project.date_tasks[d] %}
		        {% if t.owner == u or (not t.owner) %}
			<span class="task {{t.late() and 'late' or ''}} {{t.donedate and 'done' or ''}}"><a
			href="#" onclick='return false'
			title="{{tasktitler(t)}}">o</a></span>
			{% end %}
		    {% end %}
		</td>
		{% end %}
	    </tr>
	    {% end %}
	</table>
    </div>
    {% end %}
  </div>
</div>

<script>
    $(function() {
        $(".schedgrid a").tooltip({
	    track: true,
	    delay: 0,
	    showURL: false,
	    showBody: "\n",
	    fade: 250
	});
    });
</script>

{% end %}
