{% extends "base.html" %}

{% block content %}
  <div id='whack'>
    <ul>
        <li><a href="/chunk/sched">[All]</a></li>
        <li><a href="/chunk/grid">[Grid]</a></li>
        {% for p in userlist %}
	    <li><a href="/chunk/user/{{url_escape(p.name)}}">{{escape(p.name)}}</a></li>
	{% end %}
    </ul>
  </div>
  <script type="text/javascript">
    $(function() {
        $('#whack').tabs({
	    show: function(ui) {
	        $('#accordion').accordion({
		    autoHeight: false
		});
	    }
	});
    });
  </script>
{% end %}
