<script>
    flip_row = function(e, nchildren) {
        var ish = e.is_hidden;
	ish = !ish;
	e.is_hidden = ish;
	$(e).closest('tr').nextAll().slice(0,nchildren+1).toggle(!ish);
    }
</script>

  <table>
      <tr>
       	  {% if not user %}<th>Owner</th>{% end %}
 	  <th>Task</th>
 	  <th>CurrEst</th>
 	  <th>Elapsed</th>
 	  <th>Remain</th>
 	  <th>Due</th>
      </tr>
      {% for t in tasks.linearize() %}
        {% if t.contains_user(user) %}
          <tr>
	    {% if not user %}
	    <td>{{t.owner and t.owner.name or ''}}</td>
	    {% end %}
 	    <td>
   	        {% for i in range(t.depth()*8) %}&nbsp;{% end %}
	        {% if t.subtasks %}
	        <a href="#" onClick="flip_row(this, {{t.total_children()}});">x</a>
		&nbsp;
		{% end %}
 	    	{{t.title}}
 	    </td>
 	    <td>{{render_est(t.total_estimate())}}</td>
 	    <td>{{render_est(t.total_elapsed())}}</td>
 	    <td>{{render_est(t.total_remain())}}</td>
 	    <td>{{t.duedate}}</td>
	  </tr>
	{% end %}
      {% end %}
  </table>
