{% extends "base_nosidebar.html" %}

{% block content %}
<style>
    #schededit form {
        width: 100%;
	height: 90%;
    }
    #schededit textarea {
        width: 100%;
	height: 100%;
	font-family: Andale Mono; Courier New; Courier; mono;
	font-size: 11pt;
    }
</style>

<div id='schededit'>
    <form>
        <textarea id='schedtext' onkeydown='return fix_tabs(event, this);'
	   wrap='off'>{{text}}</textarea>
    </form>
</div>
{% end %}


{% block extra_js %}
<script>

function insert_chars(field, s)
{
    if (document.selection) // IE
    {
        field.focus();
        sel = document.selection.createRange();
        sel.text = s;
    }
    else if (field.selectionStart || field.selectionStart == '0') {
        var spos = field.selectionStart;
        var epos = field.selectionEnd;
	var oldtop = field.scrollTop;
       
        field.value = 
	    field.value.substring(0, spos) +
	    s +
	    field.value.substring(epos, field.value.length);
       
        field.selectionStart = spos + s.length;
        field.selectionEnd = epos + s.length;
       
        if (oldtop) field.scrollTop = oldtop;
    } else {
        field.value += s;
    }
}

function fix_tabs(evt, control)
{
    key = evt.keyCode ? evt.keyCode : evt.which ? evt.which : evt.charCode;
    if (key == 9) {
        insert_chars(control, '\t');
        return false;
    } else {
        return key;
    }
}

var oldtext = '';

sched_post = function() {
    var v = $('#schedtext').val();
    if (v != oldtext) {
        $.post('/sched/edit', v);
	oldtext = v;
    }
};

sched_post_timer = function() {
    sched_post();
    setTimeout(sched_post_timer, 5000);
};

$(function() {
    $('#schededit').height($(window).height()*.8);
    
    oldtext = $('#schedtext').val();
    setTimeout(sched_post_timer, 5000);
    $('#schedtext').blur(function() {
        sched_post();
    });
});

</script>
{% end %}
