{% extends "base_nosidebar.html" %}
{% block main %}
<style>
    h3 {
        margin: 0;
	padding: 0;
    }

    #grids > table {
        display: none;
	padding: 2em 0em 2em 4em;
    }
    
    .tooltip {
        text-align: left;
    }

    .schedgrid th {
        text-align: left;
	padding: 2px;
    }
    .schedgrid tr.days {
        font-size: small;
    }
    .schedgrid td {
	text-align: center;
    }
    .schedgrid th.username {
        padding-right: 1em;
    }
    .schedgrid th.late, .schedgrid td.late {
        background: #ff6666;
    }
    .schedgrid th.warning, .schedgrid td.warning {
        background: #ffffcc;
    }
    .schedgrid th.old, .schedgrid td.old {
        background: #dddddd;
	color: #666666;
    }
    .schedgrid .task {
        display: block;
	float: left;
	line-height: 85%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
    }
    .schedgrid .task a {
        text-decoration: none;
	color: black;
    }
    .schedgrid .task.late a {
        background: red;
    }
    .schedgrid .task.done a {
        text-decoration: line-through;
	color: #888888;
    }
    .schedgrid td:hover {
        background: #ffffaa;
    }
    .schedgrid td:hover .task a:hover {
        background: #bbbb00;
    }
    #grids a .subtitle {
        color: #aaaaaa;
	font-weight: normal;
	font-size: 75%;
	padding-left: 2em;
    }
    #grids a .subtitle b{
        color: #666666;
    }
</style>

<div id="grids">
    {% for project in projects %}
    <h3><a href="#"><table><tr><td>{{escape(project.title)}}</td>
    <td class='subtitle'>
    {% if project.task.commitdate %}
    <b>{{project.task.commitdate}}</b>
    <span style='padding-left: 2em;'>Committed</span>
    {% elif not project.task.donedate %}
    <b>{{project.task.duedate}}</b>
    <span style='color: red; padding-left: 2em;'>ESTIMATED</span>
    {% end %}
    </td></tr></table>
    </a></h3>
        <table class="schedgrid" cellpadding=0 cellspacing=0>
	    <tr>
	        <th></th>
		{% for (year,span) in project.years() %}
	        <th colspan={{span}}>{{year}}</th>
		{% end %}
	    </tr>
	    <tr>
	        <th></th>
		{% for (month,span) in project.months() %}
	        <th colspan={{span}}>{{month}}</th>
		{% end %}
	    </tr>
	    <tr class="days">
	        <th></th>
		{% for (day,lateness) in project.days_and_lateness() %}
	        <th class="{{lateness}}">{{day}}</th>
		{% end %}
	    </tr>
	    {% for u in project.users %}
	    <tr>
	        <th class="username">{{escape(u.name)}}</th>
	        {% for (d,lateness) in project.unique_dates_and_lateness() %}
		<td class="{{lateness}}">
		    {% for t in project.date_tasks[d] %}
		        {% if t.owner == u or (not t.owner) %}
			<span class="task {{t.late() and 'late' or ''}} {{t.donedate and 'done' or ''}}"><a
			href="#" onclick='return false'
			title="{{tasktitler(t)}}">o</a></span>
			{% end %}
		    {% end %}
		</td>
		{% end %}
	    </tr>
	    {% end %}
	</table>
    {% end %}
</div>
{% end %}

{% block extra_js %}
<script>
    $(function() {
        $("#grids h3").click(function() {
	    $(this).next('table').slideToggle(100);
	});
        $(".schedgrid a").tooltip({
	    track: true,
	    delay: 0,
	    showURL: false,
	    extraClass: "tooltip",
	    showBody: "\n",
	    fade: 250
	});
    });
</script>
{% end %}
