{% extends "base.html" %}

{% block content %}
  <div id='whack'>
    <ul>
        <li><a href="/sched/all">[All]</a></li>
	<li><a href="/chunk/edit">[Edit]</a></li>
        {% for p in userlist %}
	    <li><a href="/sched/user/{{url_escape(p.name)}}">{{escape(p.name)}}</a></li>
	{% end %}
    </ul>
  </div>
{% end %}

{% block extra_js %}
  <script type="text/javascript">
    $(function() {
        $('#whack').tabs({
	    show: function(ui) {
	        $('.accordiate').accordion({
		    autoHeight: false,
		    animated: false,
		    collapsible: true,
		});
	    }
	});
    });
  </script>
{% end %}
