{% extends "base_nosidebar.html" %}

{% block main %}
  {% if user %}
  <h1>Schedulator for {{ user.name }}</h1>
  <p>Load factor: {{ user.loadfactor }}</p>
  {% end %}

  <div id='schedule'>
      <ul>
      {% for t in tasks.subtasks %}
        {% if t.contains_user(user) %}
	  {{ render_task(t) }}
	{% end %}
      {% end %}
      </ul>
  </div>
{% end %}

{% block extra_js %}
<script>
$('#schedule li').click(function() {
    var p = this;
    if ($(p).hasClass("collapsed") || $(p).hasClass("precollapsed")) {
        $(p).find('li.haschildren > ul').hide();
	$(p).find('li.haschildren')
	    .addClass('collapsed')
	    .removeClass('expanded');
        $(p).addClass('expanded').removeClass('collapsed');
	$(p).children('ul').slideDown(75);
        $(p).removeClass("precollapsed");
    } else if ($(p).hasClass("expanded")) {
        $(p).addClass('collapsed').removeClass('expanded');
        $(p).children('ul').slideUp(75);
    }
    return false;
});
</script>
{% end %}

