{{ countup(t) }}
<li class="task {% if t.done_for_user(user) %}done{% elif t.any_late(user) %}late{% end %} {% if t.subtasks and t.sub_contains_user(user) %}haschildren {{doexpand(t)}}{% end %}">
    <div class="summaryhide rightcol">
	<span class="remain">
	   {% if t.total_remain(user) %}<i>{{render_est(t.total_remain(user))}}</i>
	   {% end %}</span>
	{% if not t.done_for_user(user) %}
	<span class="duedate">{% if t.donedate %}done{% else %}due{% end %} <b>{{t.duedate}}</b></span>
	{% end %}
    </div>
    {% if t.subtasks and t.sub_contains_user(user) %}
        <span class="ui-icon"></span>
    {% end %}
    <div class="text">
	{% if not user %}
	  <span class="owners summaryhide">
	    {% for o in t.all_owners() %}<span class="person p{{o.id}}">{{escape(o.name)}}</span>{% end %}
	  </span>
	{% end %}
	<span class="title">{{escape(t.title)}}</span>
	{% if t.note %}
	  <span class="note">{{escape(t.note)}}</span>
	{% end %}
    </div>
    {% if t.total_children(user) %}
    <ul>
        {% for t2 in t.subtasks %}
	    {% if t2.contains_user(user) %}
	        {{ render_task(t2) }}
	    {% end %}
	{% end %}
    </ul>
    {% end %}
</li>
