<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}bogtracker{% end %}</title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta http-equiv="content-script-type" content="text/javascript">
    <link rel="stylesheet" href="/static/TechJunkie.css" type="text/css" />
    <!--[if lte IE 6]>
    <link rel="stylesheet" href="/static/TechJunkie-ie6.css" type="text/css" />
    <![endif]-->
    {% block extra_css %}{% end %}
</head>

<body class="minimal {% block body_classes %}{% end %}">

<div id="nav">
	<div id="header" {% if not page %}class="current"{% end %}>
		<h1 id="logo-text"><a href="/" title=""><span
		id="logo-equals">bog</span>tracker</a></h1>
	</div>
	
	<ul>
		{% for item in menu %}
		<li {% if item[0] == page %}id="current"{% end %}>
		   <a href="{{ item[0] }}">{{ item[1] }}</a>
		</li>
		{% end %}
	</ul>
</div>

{% if submenu %}
<div id="subnav">
	<ul>
		{% if submenu_title %}<li>{{ submenu_title }}</li>{% end %}
		{% for item in submenu %}
		<li {% if item[0] == subpage %}id="current"{% end %}>
		   <a href="{{ item[0] }}">{{ item[1] }}</a>
		</li>
		{% end %}
	</ul><br clear=left>
</div>
{% end %}
			
<div id="wrap">
	<div id="content-wrap">
	        {% block main_outer %}
		<div id="main">
		{% block main %}
			<p>Main</p>
		{% end %}
		</div>
		{% end main_outer %}

		{% block sidebar_outer %}
		<div id="sidebar">
		{% block sidebar %}
			<h3>Sidebar Menu</h3>
			<ul class="sidemenu">				
				<li><a href="/index/">Home</a></li>
				<li><a href="/index/#TemplateInfo">TemplateInfo</a></li>
				<li><a href="style.html">Style Demo</a></li>
				<li><a href="http://www.styleshout.com/">More Free Templates</a></li>	
				<li><a href="http://www.4templates.com/?aff=ealigam">Premium Templates</a></li>	
			</ul>	
				
			<h3>Links</h3>
			<ul class="sidemenu">
				<li><a href="http://www.freephotos.se/">FreePhotos.se</a></li>
				<li><a href="http://www.alistapart.com">Alistapart</a></li>					
				<li><a href="http://www.cssremix.com">CSS Remix</a></li>
				<li><a href="http://www.cssmania.com/">CSS Mania</a></li>				
			</ul>
			
			<h3>Sponsors</h3>
			<ul class="sidemenu">
				<li><a href="http://www.4templates.com/?aff=ealigam">4templates <br /><span>Low Cost Hi-Quality Templates</span></a></li>
				<li><a href="http://store.templatemonster.com?aff=ealigam">TemplateMonster <br /><span>Delivering the Best Templates on the Net!</span></a></li>
				<li><a href="http://tinyurl.com/3cgv2m">Text Link Ads <br /><span>Monetized your website</span></a></li>
				<li><a href="http://www.fotolia.com/partner/114283">Fotolia <br /><span>Free stock images or from $1</span></a> </li>
				<li><a href="http://www.dreamstime.com/res338619">Dreamstime <br /><span>Lowest Price for High Quality Stock Photos</span></a></li>
				<li><a href="http://www.dreamhost.com/r.cgi?287326">Dreamhost <br /><span>Premium webhosting</span></a></li>
			</ul>
			
			<h3>Search Box</h3>	
			<form class="searchform" action="index" method="get">
				<p>
				<input name="search_query" class="textbox" type="text" />
  				<input name="search" class="button" value="Search" type="submit" />
				</p>			
			</form>	
				
			<h3>Wise Words</h3>
			<p>&quot;When I have fully decided that a result 
			is worth getting I go ahead of it and 
			make trial after trial until it comes.&quot; </p>
					
			<p class="align-right">- Thomas A. Edison</p>
					
			<h3>Support Styleshout</h3>
			<p>If you are interested in supporting my work and would like to contribute, you are
			welcome to make a small donation through the 
			<a href="http://www.styleshout.com/">donate link</a> on my website - it will 
			be a great help and will surely be appreciated.</p>			
		{% end sidebar %}
		</div>
		{% end sidebar_outer %}
	</div>

<!-- wrap ends here -->
</div>

{% block extra_jsi %}{% end %}
{% block extra_js %}{% end %}

</body>

</html>
